@{
    ViewData["Title"] = "Home Page";

    var EncryptionList = new List<string>()
    {

        "Caesar Encryption",
        "-",
        "-",
        "-",
        "-",
        "-",
    };
}

<a asp-action="DevInfo" class="link link2">DevInfo</a>

@if (EncryptionList.Count != 0)
{
    <div class="linkBox">
        @for (int i = 0; i < @EncryptionList.Count; i++)
        {
            @if (EncryptionList[i].Split(" ")[0] != "-")
            {
                <a asp-action="Index" asp-controller="@EncryptionList[i].Split(" ")[0]">@EncryptionList[i]</a>
            }
            else
            {
                <a asp-action="Index" asp-controller="@EncryptionList[i].Split(" ")[0]" class="link link1">@EncryptionList[i]</a>
            }
            
        }
    </div>
}  

   


<style>
    *{
        font-family: 'Arial', sans-serif;
    }

    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        background-color: rgb(40, 41, 44);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    a:hover {
        background-color: rgb(20, 21, 24);
    }

    a {
        margin: 23px;
        text-decoration: none;
        width: 300px;
        height: 35px;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .linkBox{
        display: flex;
        flex-direction: column;
    }

    .link{
        color: #000;
        background-color: rgb(190, 191, 194);
        margin: 23px;
        text-decoration: none;
        width: 30px;
        height: 25px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 7px;
    }

    .link1{
        width: 300px;
        height: 35px;
        rgb(210, 211, 214);
    }

    .link2{
        padding: 10px 20px;
    }

    .link:hover {
        background-color: rgb(170, 171, 174);
    }


</style>
